<div class="parent-container">
  <div class="child-container">
    <h2>Hello, Welcome to <b>Find Your Recipe!!!
    </b></h2>
    <span class="desc">FInd Your Recipe is a Mashup Web Application which is built using <i> Foursquare & Edamam's Recipe Search API </i> . This application find Recipe and Place to find that Food.</span><br><br><br>
    <form>
      <div class="form-group">
        <label>Enter the Restaurant Name</label><br><br>
        <div class="form-group col-lg-4 col-lg-offset-4">
<!--          <input type="text" class="form-control" #searchText placeholder="name@example.com"/>-->
<!--          <button type="button" class="btn btn-info" (click)="submit()">OK</button><br>-->
        </div>
        <br>
        <button class="btn btn primary col-lg-2 col-lg-offset-5 colsty">Submit</button>
      </div>
    </form>
  </div>
</div>
