<app-loader [isLoading]="isLoading"></app-loader>
<div class="d-flex flex-column align-items-center mt-5">
  <form [formGroup]="userSignUp" novalidate (ngSubmit)="signUp()">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex align-items-center justify-content-center">
          <h1>User Sign up</h1>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <mat-form-field class="text-box">
          <mat-label>First name</mat-label>
          <input formControlName="firstName" matInput />
        </mat-form-field>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <mat-form-field class="text-box">
          <mat-label>Last name</mat-label>
          <input formControlName="lastName" matInput />
        </mat-form-field>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <mat-form-field class="text-box">
          <mat-label>Username</mat-label>
          <input formControlName="userName" matInput />
        </mat-form-field>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <mat-form-field class="text-box">
          <mat-label>Password</mat-label>
          <input formControlName="password" type="password" matInput />
        </mat-form-field>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <mat-form-field class="text-box">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <mat-form-field class="text-box">
          <mat-select required formControlName="gender">
            <mat-option>-- Select Gender --</mat-option>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            <mat-option value="others">Others</mat-option>
          </mat-select>
          <mat-label>Gender</mat-label>
        </mat-form-field>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <mat-form-field class="text-box">
          <mat-label>Address</mat-label>
          <textarea formControlName="address" matInput></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-12 d-flex justify-content-around">
        <button
          [disabled]="!userSignUp.valid"
          mat-raised-button
          class="btn-width"
          color="primary"
        >
          Sign up
        </button>
      </div>
    </div>
  </form>
</div>
