
.container {
    margin: 0 auto;
    max-width: 630px;
}

.card {
    background-color: skyblue;
    background-clip: border-box;
    border-radius: 75%;
    box-shadow: 0 0 10px rgba(96, 134, 181, .3);
    margin-top: 20px;
    text-align: center;

    &__body {
        font-size: 0;
        padding: 1.25rem;
    }

    &__title {
        font-size: 2rem;
        margin: 0 0 .75rem;
      color: orangered;
    }
}

.countdown {
    &__section {
        display: inline-block;
        margin-left: 4px;

        &:first-child {
            margin-left: 0;
        }

        > .value {
            background-color: mediumpurple;
            border-radius: 10px;
            font-size: 50px;
            color: #f8f5ec;
            line-height: 100px;
            text-align: center;
            height: 100px;
            width: 100px;
        }
    }

    &__label {
        font-size: 15px;
        padding-top: 4px;
        text-align: center;
      color: orangered;
    }
}

.countdowninput {
    &__section {

        display: inline-block;
        margin-left: 5px;

        &:first-child {
            margin-left: 0;
        }

        > .value {
            background-color: mediumpurple;
            border-radius: 10px;
            font-size: 50px;
            color: #f8f5ec;
            line-height: 100px;
            text-align: center;
            height: 100px;
            width: 70px;
        }
    }
}

/* Forms */

[type=text],
[type=email],
[type=url],
select,
textarea {
  display: block;
  padding: .5rem;
  background: transparent;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: .95rem;
  height: inherit;
}

[type=text]:focus,
[type=email]:focus,
[type=url]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1E6BD6;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) 100% no-repeat;
  line-height: 1
}

label {
  font-weight: 600;
  font-size: 2qrem;
  display: block;
  margin: .5rem 0;
}

/* Other */

* { box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}


/* Button */

[type=submit] {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    margin: 0.25rem 0;
    padding: 0.5rem 1rem;
    border: 1px solid dodgerblue;
    border-radius: 18px;
    background: dodgerblue;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.95rem;
}
